<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="ROOT_LOG_LEVEL" source="logging.level.root" defaultValue="INFO"/>
    <springProperty scope="context" name="LOG_FILE" source="loadfunds.log.file" defaultValue="logs/loadfunds.log"/>
    <springProperty scope="context" name="CONSOLE_PATTERN" source="logging.pattern.console"
                    defaultValue="%d{HH:mm:ss.SSS} %-5p %replace(%X{requestId}){'^(.+)$','[$1] '}%logger : %m %kvp%n%wEx"/>
    <springProperty scope="context" name="FILE_PATTERN" source="logging.pattern.file"
                    defaultValue="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %replace(%X{requestId}){'^(.+)$','[$1] '}%logger : %m %kvp%n%wEx"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE}</file>
        <append>true</append>
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="${ROOT_LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
